:host {
    width: calc(40% - 20px);
    
    .selected-summary-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        box-shadow: 0 0px 2px 0px rgba(228, 228, 228, 1), 0 1px 1px 0 rgba(228, 228, 228, 1), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        
        .summary-item-group {
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #eeeeee;

            .summary-item {
                display: flex;
                justify-content: space-between;
                margin: 20px 0 20px;

                .price.negative {
                    color: rgb(201, 77, 77);
                }

                .price.positive {
                    color: rgb(40, 150, 40);
                }
            }
        }

        button {
            margin: 20px;
            padding: 10px;
            background: #4696ec;
            color: #FFFFFF;
            border: none;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background: #68a1df;
            }
        }
    }
}

@media (max-width: 768px) {
    :host {
        width: 50%;
        min-width: 300px;
    }
}